/* #2D0C2C
#BF9943;
#D8CECD;
#423336; */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(205, 215, 255, 0.8);
    font-family: 'Poppins', sans-serif;
}

#header {
    /* padding: 10px; */
    background-color: rgba(205, 215, 255, 0.8);
    /* margin-top: 15px; */
}

#main {
    border-top: 1px solid grey;
    padding: 10px;
    background-color: rgba(205, 215, 255, 0.8);
}

#footer {
    border-top: 1px solid grey;
    padding: 10px;
    background-color: rgba(205, 215, 255, 0.8);


}

#footer h2 {
    margin-bottom: 15px;
}

#search-row {
    justify-content: space-evenly;
}

.copyright h3 {
    text-align: center;
    font-size: 0.7em;
}

.col-6 {
    text-align: center;
}

#refresh {
    /* background-color: #2D0C2C; */
    color: black;
    border: 1px solid grey;
    width: 30%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 7px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#hTotalInvested {
    font-size: 1.3em;
    float: right;
    font-weight: 500;
}

#jTotalInvested {
    font-size: 1.3em;
    float: right;
    font-weight: 500;
}

.portfolio-container {
    height: 100%;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.portfolio-data {
    font-size: 0.7em;
}

.stock-name {
    text-align: start;
}

h2 {
    font-size: 1.2em;
    font-weight: 300;
}

h3 {
    font-size: 1.9em;
}

h4 {
    font-size: 1em;
}

form {
    justify-content: center;
}

#searchBtn {
    border: 1px solid grey;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 2.5em;
    margin: 0 auto;
}

#searchBtn:hover {
    background-color: rgba(5, 0, 250, 0.2);
    box-shadow: rgba(5, 0, 250, 0.24) 0px 3px 8px;
}

#inputStockSymbol {
    width: 100%;
    height: 2.5em;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


}

#stock-symbol-display p {
    font-size: 1.5em;
    text-align: center;
}

.green {
    color: green;
}

.red {
    color: red;
}